@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url(./reset.css);
@import url(./header.css);
@import url(./home.css);
@import url(./today.css);
@import url(./footer.css);
@import url(./menu-expansivel.css);
@import url(./cadastro.css);


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box
}

:root{
    --color-text-primary: #464646;
    --color-text-secondary: #A3A3A3;
    --color-text-alternative: #FFFFFF;
    --color-background: #FFFFFF;
    --color-btn-primary: #4894FF;
    --color-btn-secondary:#FFB050;
    --color-border: #ECECEC;
    --color-background-degrade: linear-gradient(166deg, #F8F4FF 0%, #EFF0F4 100%) no-repeat;
    --font-primary: "Montserrat", sans-serif;
}

body {
    background: var(--color-background-degrade);
    font-family: var(--font-primary);
    color: var(--color-text-primary);
    font-size: 16px;
    
}

a {
    text-decoration: none;
}

.main-conteiner {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    margin-bottom: 20vw;
}

@media screen and (min-width: 1366px) {
    .main-conteiner {
        margin-left: 20vw;
        margin-bottom: 3rem;
    }


}





